.imageSecondaryContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura completa de la ventana para centrar verticalmente */
    animation: fadeIn 1s ease-in-out; /* Añade la animación al contenedor */
}

.mainImage {
    max-width: 90%; /* Asegura que la imagen no exceda el 90% del ancho del contenedor */
    max-height: 90%; /* Asegura que la imagen no exceda el 90% de la altura del contenedor */
    border-radius: 10px; /* Opcional: añade bordes redondeados a la imagen */
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}
