.imageSecondaryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}
.headSecondary{
    display: flex;
    gap: .5rem;
}

.imageSecondaryContainer img:nth-child(1) {
    grid-column: 1 / span 2;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .imageSecondaryContainer {
        grid-template-columns: 1fr;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
